* {
  margin: 0;
  padding: 0;
}

#hero {
  height: 600px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container {
  text-align: center;
}
.btn {
  padding: 18px 32px;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
  color: white;
}
.hero-content {
  width: 640px;
}
.hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 10px;
}
.hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px;
}
.hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 10px;
}

#card-box {
  width: 844px;
  margin: 50px auto;
}
.info .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.6;
}
.info .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
#card-container {
  display: flex;
  justify-content: space-between;
}
.card {
  max-width: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card .image-box {
  width: 271px;
}
.card .image-box img {
  width: 100%;
}
.card .shop {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  padding: 5px;
}

#about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1233px;
  margin: 0 auto;
}
.image-section {
  flex: 1;
  min-width: 300px;
}
.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.text-section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}
.text-section h1 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
.text-section p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.text-section h6{
  color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 25px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-top: 8px;
}
.social-media{
  text-align: center;
  margin-top: 8px;
}
.social-media a {
  margin: 0 10px;
  display: inline-block;
}
.social-media img {
  width: 24px;
  height: 24px;
}
